<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>userProfile</title>
</head>
<body>
  <%- include("partials/header") %>


			<div>
				<h2>Bienvenido <%= user.nombre %> </h2>
				<img src="/images/usuarios/<%= user.imagen %> ">
				<br>
				<br>
				<div><%= user.email %> </div>
			</div>
		</div>


  <%- include("partials/footer") %>
  
</body>
</html>